<div class="modal-header">
	<h3>{{headerText}}</h3>
</div>
<div class="modal-body">
	<p class="text-info">{{message}}</p>
	<div class="form-group">
		<label>Set budget limit: </label>
		<div class="input-group">
			<div class="input-group-addon">$</div>
			<input type="number" class="form-control" ng-model="val">
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn" ng-click="close()">{{cancelBtnText}}</button>
	<button class="btn btn-primary" ng-click="setVariable()">{{confirmBtnText}}</button>
</div>